body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Quicksand', sans-serif;
	background-image: linear-gradient(315deg,#7EE8FA 0%,#80FF62 74%);
}
.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	padding: 10px;
	height: 96vh;
}
h1{
	font-size: 3rem;
	color: #fff;
	font-weight: bold;
}
input{
	outline: 0;
	width: 60vw;
	margin: 10px 0;
	height: 80px;
	padding: 5px;
	padding-left: 20px;
	border-style: none;
	border-radius: 5px;
	background: rgba(138,138,138,.4);
	font-size: 3.5rem;
	color:#fff;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
::placeholder{
	color: #fff;
}

@media(max-width: 500px) {
	body{
		padding-top: 20px;
	}
	h1{
		font-size: 2rem;
	}
	input{
		width: 90vw;
		font-size: 2rem;
	}

}
